{% extends  "users/base.html" %}
{% load crispy_forms_tags %}

{% block main %}
<div  class="card">
    <div  class="card-body">
        <h4  class="card-title">Редактировать профиль</h4>
        <form  method="post">
            {% csrf_token %}
            <input  type="hidden"  name="next"  value="{{ next }}">
            {{ form|crispy }}

            <button  type="submit"  class="btn btn-primary btn-block">Reset</button>
        </form>
    </div>
</div>
<div>
    <a class="p-2 btn btn-outline-primary" href="{% url 'send_new_password' %}">Выйти</a>
</div>
{% endblock %}